/* =============================
variables
============================= */
:root {
  --color-brand-main: #15866d;
  --color-brand-bright: #cefea9;
  --color-brand-dark: #0b6451;

  --color-text: #031310;
  --color-offset: #6d7674;
  --color-text-invert: #ffffff;

  --color-border: #cdd0cf;

  --color-background-main: #ffffff;

  --fontstack-main: "Inter", "Helvetica", "Arial", system-ui, sans-serif;
}

/* =============================
fonts
============================= */

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-variable.woff2) format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

/* =============================
remove top margins
============================= */

/*
  Supprimer la ma rgin-top de tous les éléments, de tous les after de et before de n'importe quel élément
  * en CSS === le sélecteur universel
  plus facile de mettre les choses les unes à côté des autres si les éléments n'ont pas leur margin top par défaut (mises par la CSS des navigateurs).
*/

*,
*::after,
*::before {
  margin-top: 0;
}

/* =============================
address
============================= */

address {
  font-style: normal;
}

/* =============================
html
============================= */

html {
  font-weight: 400;
  font-size: 100%; /* === 16 pixels dans tous les navigateurs */
  font-family: var(--fontstack-main);
  line-height: 1.5;
}

/* =============================
body
============================= */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-main);
  color: var(--color-text);
}

/* =============================
header
============================= */

/*
- logo et nav: flexbox sur siteheader__content
- par défaut: flex-direction column / justify-content: flex-start / align-items: stretch
- au delà de 750px flex-direction row / justify-content: space-between / align-items: center
*/

.siteheader {
  padding-top: calc(12 / 16 * 1rem);
  padding-bottom: calc(12 / 16 * 1rem);
  background-color: var(--color-brand-main);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media all and (min-width: 500px) {
  .siteheader {
    padding-top: calc(24 / 16 * 1rem);
    padding-bottom: calc(24 / 16 * 1rem);
  }
}

@media all and (min-width: 750px) {
  .siteheader {
    padding-top: calc(36 / 16 * 1rem);
    padding-bottom: calc(36 / 16 * 1rem);
  }
}

.siteheader__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 24px;
}

@media all and (min-width: 750px) {
  .siteheader__content {
    flex-direction: row;
    align-items: center;
    row-gap: 0;
  }
}

/* =============================
logo
============================= */

.siteheader__logo {
  /*
    ici on est en flex start par défaut. 
    
    Dans le contexte d'un flexbox, une margin auto sur un flex item prend tout l'espace disponible. Ici en mettant la margin-right à "auto", tout l'espace disponible dans le flexbox va aller dans cette marge et donc "pousser" la navigation vers la fin du flexbox.
  */
  margin: 0 auto 0 0;
}

.siteheader__logo img {
  /* par defaut les images sont inline. Elles réservent donc une place sur leur ligne pour les caratères de tesxte descendants (j, g, q, p, etc.). En général on passe les images qui sont seules dans une boite en display: block; pour éviter ce petit espace. */
  display: block;
}

/* =============================
mainnav
============================= */

/*
- Nav (liste): flexbox sur mainnav
- par défaut: flex-direction column / justify-content: flex-start / align-items: stretch
- au delà de 750px flex-direction row / justify-content: flex-end / align-items: center
*/

.mainnav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 3px;
}

@media all and (min-width: 750px) {
  .mainnav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
  }
}

.mainnav__link {
  display: block; /* prendre tt la place dans le parent (li) */
  /* calc: 6 divisé par 16 * 1rem (la taille de texte dans l'élément racine c'est à dire HTML */
  padding-top: calc(6 / 16 * 1rem);
  padding-bottom: calc(6 / 16 * 1rem);

  color: var(--color-text-invert);
  text-decoration: none;
  font-weight: 500;

  transition: color 0.2s ease-out;
}

.mainnav__link:hover {
  color: var(--color-brand-bright);
}

/* =============================
banner
============================= */
.banner {
  height: 300px;
}

@media all and (min-width: 750px) {
  .banner {
    height: 360px;
  }
}

@media all and (min-width: 1024px) {
  .banner {
    height: 480px;
  }
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

/* =============================
section
============================= */

/*
- padding top et bottom (reponsive)
- peuvent changer de couleur de fond
- quand deux sections se suivent, border top
*/

.section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-background-main);
  color: var(--color-text);
}

/*
Media queries.
Les règles CSS qui sont là dedans n'existent pour un navigateur que si la condition est vraie
Condition: pour tous les médias, si la largeur minimale du viewport du navigateur est de 750px
*/

@media all and (min-width: 750px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media all and (min-width: 1024px) {
  .section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media all and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section + .section {
  border-top: 1px solid var(--color-border);
}

.section--brand {
  background-color: var(--color-brand-main);
  color: var(--color-text-invert);
}

/* =============================
split
============================= */

/*
- utilise grid
- par deéfaut on a une grille d'une seule colonne qui prend une fraction de l'espace disponible
- à 750px de large, on passe à une grille de deux colonnes
  - la première prend 1 fraction de l'espace disponible
  - la seconde prend 2 fractions de l'espace disponible
*/

.split {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

@media all and (min-width: 750px) {
  .split {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    column-gap: 36px;
  }
}

/* =============================
grid
============================= */

.grid {
  /* grille de 1 colonne avec gap de 36px */
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 36px;

  /* on supprime les styles de liste par defaut */
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid--fluid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid--2cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--3cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid--4cols {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media all and (min-width: 500px) {
  .grid--2cols-small {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid--3cols-small {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid--4cols-small {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media all and (min-width: 750px) {
  .grid--2cols-medium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid--3cols-medium {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid--4cols-medium {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media all and (min-width: 1024px) {
  .grid--2cols-large {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid--3cols-large {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid--4cols-large {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* =============================
bigtitle
============================= */
.bigtitle {
  font-size: clamp(48px, calc(1rem + 9vw), 138px);
  font-weight: 600;
  line-height: 1.06;
}

/* =============================
projects
============================= */
.project {
  display: block;
}

.project__link {
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(24 / 16 * 1rem);
}

.project__media {
  overflow: hidden;
}

.project__image {
  transition: transform 0.2s ease-out;
}

.project__link:hover .project__image {
  transform: scale(1.05);
}

.project__title {
  font-weight: 600;
  font-size: calc(22 / 16 * 1rem);
  color: var(--color-text);
  margin-bottom: calc(3 / 16 * 1rem);
}

.project__link:hover .project__title {
  text-decoration: underline;
}

.project__tagline {
  font-weight: 500;
  font-size: calc(18 / 16 * 1rem);
  color: var(--color-offset);
  margin-bottom: 0;
}

/* =============================
container
============================= */

/*
- max-width (largeur max)
- centré dans son parent
- padding left et right
*/

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
}

@media all and (min-width: 750px) {
  .container {
    padding-left: 42px;
    padding-right: 42px;
  }
}

@media all and (min-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* =============================
sitefooter
============================= */

.sitefooter {
  background-color: var(--color-brand-main);
  padding-top: calc(30 / 16 * 1rem);
  color: var(--color-text-invert);
}

@media all and (min-width: 750px) {
  .sitefooter {
    padding-top: calc(60 / 16 * 1rem);
  }
}

@media all and (min-width: 1024px) {
  .sitefooter {
    padding-top: calc(90 / 16 * 1rem);
  }
}

.sitefooter__contact {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: calc(18 / 16 * 1rem);
  margin-bottom: calc(30 / 16 * 1rem);
}

@media all and (min-width: 750px) {
  .sitefooter__contact {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(36 / 16 * 1rem);
    margin-bottom: calc(60 / 16 * 1rem);
  }
}

@media all and (min-width: 750px) {
  .sitefooter__social {
    justify-self: end;
  }
}

.sitefooter__main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: calc(18 / 16 * 1rem);
  margin-bottom: calc(30 / 16 * 1rem);
}

@media all and (min-width: 750px) {
  .sitefooter__main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: calc(36 / 16 * 1rem);
    margin-bottom: calc(48 / 16 * 1rem);
  }
}

.sitefooter__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: calc(24 / 16 * 1rem);
  padding-bottom: calc(24 / 16 * 1rem);
}

/* =============================
contact links
============================= */

.contactlinks {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: calc(6 / 16 * 1rem);
}

.contactlinks__link {
  color: var(--color-text-invert);
  text-decoration: none;
  font-size: clamp(
    calc(20 / 16 * 1rem),
    calc(0.5rem + 2vw),
    calc(42 / 16 * 1rem)
  );
  transition: color 0.2s ease-out;
}

.contactlinks__link:hover {
  color: var(--color-brand-bright);
}

/* =============================
social media
============================= */

.socialmedia {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(3 / 16 * 1rem);
}

.socialmedia__link {
  color: var(--color-text-invert);
  transition: color 0.2s ease-out;
}

.socialmedia__link:hover {
  color: var(--color-brand-bright);
}

/* =============================
footer nav
============================= */

.footernav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footernav__link {
  display: block;
  padding-top: calc(3 / 16 * 1rem);
  padding-bottom: calc(3 / 16 * 1rem);
  color: var(--color-text-invert);
  text-decoration: none;
}

.footernav__link:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

/* =============================
small title
============================= */

.smalltitle {
  font-weight: 500;
  font-size: calc(18 / 16 * 1rem);
  font-family: var(--fontstack-main);
  color: var(--color-offset);
}

/* =============================
images fluides
============================= */

.fluidimg {
  /* largeur maximum de 100% du block parent */
  max-width: 100%;
  display: block;
}

/* =============================
video fluide (iframe youtube)
============================= */

.fluidvideo {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}
